* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(../image/background.jpg);
	background-size: 100%;
	font-family: "Microsoft YaHei", 微软雅黑;
}
.wrapper {
	width: 30%;
	margin-top: 6%;
	margin-left: 35%;
	padding-top: 18px;
	padding-bottom: 16px;
	border-radius: 10px;
	overflow: hidden;
}
#loginLogo{
	width: 100px;
	border-radius: 100px;
	margin-left: 40%;
}
.form-group{
	width:260px;
	margin-left: 80px;
}
button {
	width: 100px;
	margin-top: 20px;
	margin-left: 160px;
}
.btn {
	background-color: #444;
	color: #fff;	
	border-color: #444;
}
.form-control {
	background-color: transparent;
	border-color: #000;
}
